     body {
            background-color: grey;
          }
    .tools {
    width: 800px;
    height: 600px;
    position: absolute;
    left:0; top:0;
    right:0;
    bottom: 0;
    margin: auto;
    background: grey;
    }
    .scan {
    text-align: center;
    padding: 10px;
    width: 350px;
    margin-top: 5px;
    margin: center
    }
    .submit {
    padding: 9px;
    margin-left: 5px;
    background-color: rgb(153, 130, 130)
    }
    h4 {
    padding: 10px;
    color: green;
    }