<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <link rel="stylesheet" type="text/css" href="../static/CSS/tools.css">
</head>
<body>
  <div class="tools">
    <form method="post">
      <input class="scan" type="text" name="inter" placeholder="请输入请求url" /><br>
      <input class="scan" type="text" name="policyNo" placeholder="请输入保单号"  />&nbsp;
      <input class="submit" type="submit" value="执行" /><br>
      <label>执行信息</label><br>
      <code>{{ msg }}</code>
    </form>
  </div>
</body>
</html>